<!-- Team Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">I'm a full-stack developer who designs, develops, tests and maintaince software.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">My programming escapades have converted me into a forward thinking software engineer with experience in Web Design and Development, Object-Oriented Programming, Testing and System Administration. I also have special interests in the fields of Cloud Computing, Distributed Databases and Data Science (Big Data Analytics).</p>
                </div>
            </div>
        </div>
    </section>
