<!-- About Section -->
    <section id="experience" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education and Experience</h2>
                    <h3 class="section-subheading text-muted">With a background in computer science, I have been a software developer for many years.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-Current</h4>
                                    <h4 class="subheading">Software Engineer</h4>
                                    <h4 class="subheading">Savannah Informatics Limited</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software development and testing of customer facing applications with a focus on user centered design and interoperability of automated processed in the Health and Insuarance sectors</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 (May - October)</h4>
                                    <h4 class="subheading">Software Engineering Intern</h4>
                                    <h4 class="subheading">Cellulant Kenya Limited</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software development, test automation, application deployment (Fedora and CentOS environments). Applications test automations for quality assuarance was the major task. I Created a plartform for testing in Junit and Selenium</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011 - 2015</h4>
                                    <h4 class="subheading">Bsc. Computer Science</h4>
                                    <h4 class="subheading">University of Nairobi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
