<!-- About Section -->
    <section id="experience" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education and Experience</h2>
                    <h3 class="section-subheading text-muted">
                        With a background in computer science and constant involvement in professional software development,
                        I offer experience and competent skills that come in handy in most software projects.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="src/img/experience/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-Current</h4>
                                    <h4 class="subheading">Software Engineer</h4>
                                    <h4 class="subheading">Savannah Informatics Limited</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Software development in Python, Django, PostgreSQL and AngularJs.
                                        Unit and Acceptance tests for both frontend and backend applications.
                                        We focus on user centered design and interoperability of automated processes in
                                        the Health and Insuarance sectors.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="src/img/experience/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 (May - October)</h4>
                                    <h4 class="subheading">Software Engineering Intern</h4>
                                    <h4 class="subheading">Cellulant Kenya Limited</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Software development, test automation, application deployment in
                                        Fedora and CentOS environments.
                                        JUnit and Selenium were the main tools i used to automate tests and improve the
                                        quality of QA.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="src/img/experience/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011 - 2015</h4>
                                    <h4 class="subheading">Bsc. Computer Science</h4>
                                    <h4 class="subheading">University of Nairobi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
